




.a-propos{
  margin-top: 2%;
  font-family: 'Monument';
}
.a-propos .col-md-3{
  border-top: solid #fec401 6px;
  border-right: solid #fec401 6px;
  border-radius: 10px;
}
.a-propos .col-md-3 p{
  font-size: 40px;
}
.a-propos .col-md-3 span{
  font-weight: bolder;
}
.a-propos .col-md-9{
  font-size: 15px;
}
.a-propos img{
  width: 100%;
}
.what-we-do{
  margin-top: 5%;
}
.what-we-do h1{
  font-family: 'Monument';
  margin-bottom: 5%;
}
.what-we-do .col-md-3{
  background-repeat: no-repeat;
  background-size: contain;
}
.what-we-do1 p, .what-we-do2 p, .what-we-do3 p, .what-we-do4 p{
  color: #fff;
  font-family: 'Monument';
  margin-top: 50%;
}
.what-we-do1{
  background-image: url(../IMG/index/concert-spectacles.jpg);
}
.what-we-do2{
  background-image: url(../IMG/index/cultural-experiences.jpg);
}
.what-we-do3{
  background-image: url(../IMG/index/conferences-exhibiition.jpg);
}
.what-we-do4{
  background-image: url(../IMG/index/content-production.jpg);
}

.myBtn{
  border-radius: 45px;
  background-color: #fec401;
  border: none;
  color: #000;
  text-align: center;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px 10px;
  margin: 30%;
  margin-top: 40%;
}
.myBtn span {
  font-family: 'Monument';
  font-size: 11px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.myBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.myBtn:hover span {
  padding-right: 25px;
}

.myBtn:hover span:after {
  opacity: 1;
  right: 0;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.815);
  margin: auto;
  margin-top: 5%;
  padding: 1%;
  width: 90%;
  height: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-content .col-md-8 h2{
  margin-bottom: 5%;
}
.modal-content .col-md-8 h2, .modal-content .col-md-8 h5{
  font-family: 'Monument';
  color: #fff;
}
.project-btn{
  background-color: #fec401;
  border: none;
  font-family: 'Monument';
  padding: 10px;
  margin-top: 5%;
  margin-left: 50%;
}
.project-btn a{
  text-decoration: none;
  color: #000!important;
}
/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  opacity: 10;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
#clients{
  display: none;
}
#clients h1{
  font-family: 'Monument';
}
#instagram h1{
  font-family: 'Monument';
}

.photoclient {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
  }
  
  .photoclient img {    
    margin: 0 0.5em;
  }
  
  @keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

/*instagram*/
#clients, #instagram{
  margin-bottom: 200px;
}

@media (max-width:767px){
  .a-propos .col-md-3 p {
    font-size: 30px;
  }
  .a-propos .col-md-9{
    text-align: center;
    font-size: 12px;
  }
  .a-propos img{
    width: 100%;
  }
  .what-we-do{
    margin-top: 15%;
  }
  .what-we-do .col-md-3{
    background-size: cover;
  }
  .what-we-do h1{
    font-size: 30px;
  }
  .what-we-do h1{
    font-family: 'Monument';
    padding-bottom: 10%;
  }
  .myBtn{
    margin-bottom: 15%;
  }
  .modal-content, .modal{
    background-color: #000;
  }
  .modal-content .col-md-8 h2, .modal-content .col-md-8 h5{
    text-align: center;
  }
  .modal-content .col-md-8 h2{
    font-size: 20px;
    margin-top: 5%;
  }
  .modal-content .col-md-8 h5{
    font-size: 12px;
  }
  .project-btn{
    margin-left: 5%;
    margin-bottom: 15%;
    font-size: 12px;
  }
  .close{
    color: #fec401;
  }
  #clients h1{
    font-size: 30px;
  }
  #instagram h1{
    margin-top: 5%;
    font-size: 30px;
  }

}
