.full-top{
    width: 100%;
    height: 98vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.full-top .row img{
    width: 85%;
    margin-left: 5%;
}
.full-top .row .col-md-3{
    margin-top: 5%;
}
.big-title{
    font-size: 80px;
    font-family: 'Mazzard';
}
.little-title{
    font-family: 'Monument';
    font-size: 18px;
    margin-top: -2%;
}
.connect{
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #000000;
    font-family: 'Monument';
}
.connect h1{
    color: #fff;
}
.connect form input{
    background-color: transparent;
    border: none;
    border-bottom: #fff solid 3px;
    color: #fff;
    width: 100%;
}
.connect button{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    padding: 10px 15px;
    background-color: #fec401;
    border: none;
}

@media (max-width: 767px){
    .big-title{
        font-size: 40px;
    }
    .little-title{
        font-size: 16px;
    }
    .full-top{
        padding-top: 30%;
    }
    .full-top .row{
        margin-top: 20%;
    }
    .full-top .row img{
        width: 100%;
    }
}